<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header avec Boutons</title>
</head>
<body>
    <header class="header">
        <div class="logo">Advanced Research Laboratory</div>
        <nav class="nav">
            <button class="nav-btn" [routerLink]="'/eventvisit'">Evenements</button>
            <button class="nav-btn" [routerLink]="'/membervisit'">Membres</button>
            <button class="btn btn-outline-light" (click)="navigateToLogin()">Login</button>
        </nav>
    </header>
</body>
</html>
