<div fxLayout="row" fxLayoutAlign="center center" class="form-container">
  <mat-card>
    <mat-card-title>Créer Étudiant</mat-card-title>
    <mat-card-content>
      <form [formGroup]="formEtd" (ngSubmit)="onSubmit()" fxLayout="row wrap" fxLayoutGap="16px">
         <!-- Champ CIN, devient inchangeable en mode édition -->
         <mat-form-field appearance="outline" class="field">
          <mat-label>CIN</mat-label>
          <input matInput formControlName="cin" required [readonly]="currentId !== null">
        </mat-form-field>

        <mat-form-field appearance="outline" class="field">
          <mat-label>Nom</mat-label>
          <input matInput formControlName="nom" required>
        </mat-form-field>

        <mat-form-field appearance="outline" class="field">
          <mat-label>Prénom</mat-label>
          <input matInput formControlName="prenom" required>
        </mat-form-field>

        <mat-form-field appearance="outline" class="field">
          <mat-label>Date de Naissance</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="dateNaissance" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline" class="field">
          <mat-label>CV</mat-label>
          <input matInput formControlName="cv" required>
        </mat-form-field>

        <mat-form-field appearance="outline" class="field">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" required>
        </mat-form-field>

        <mat-form-field appearance="outline" class="field">
          <mat-label>Mot de Passe</mat-label>
          <input matInput formControlName="password" type="password" required>
        </mat-form-field>

        <mat-form-field appearance="outline" class="field">
          <mat-label>Date d'Inscription</mat-label>
          <input matInput [matDatepicker]="picker2" formControlName="dateInscription" [value]="today" readonly>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline" class="field">
          <mat-label>Sujet</mat-label>
          <input matInput formControlName="sujet" required>
        </mat-form-field>

        <mat-form-field appearance="outline" class="field">
          <mat-label>Diplôme</mat-label>
          <mat-select formControlName="diplome" required>
            <mat-option value="Mastere">Mastere</mat-option>
            <mat-option value="These">Thèse</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" class="field">
          <mat-label>Encadrant</mat-label>
          <mat-select formControlName="encadrant" required>
            <mat-option *ngFor="let encadrant of encadrants" [value]="encadrant">
              {{ encadrant.nom }} {{ encadrant.prenom }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div fxFlex="100" fxLayoutAlign="center">
          <button mat-raised-button color="primary" type="submit" [disabled]="formEtd.invalid">Submit</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
