

/* Style pour le conteneur principal */
div[fxLayout="column"] {
    margin: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  /* Style pour le bouton principal */
  button[mat-button] {
    background-color: #64a6bd;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  button[mat-button]:hover {
    background-color: #64a6bd;
  }
  
  /* Style pour les éléments du menu */
  mat-menu button[mat-menu-item] {
    font-size: 16px;
    padding: 10px;
    color: #333;
    transition: background-color 0.3s;
  }
  
  mat-menu button[mat-menu-item]:hover {
    background-color: #f1f1f1;
  }
  
  /* Style pour les icônes dans le menu */
  mat-icon {
    margin-right: 10px;
    font-size: 20px;
  }
  

/* Style général pour la page */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f7fc;
    margin: 0;
    padding: 0;
  }
  
  /* Conteneur principal pour le bouton et le menu */
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
  
  /* Style du bouton "Créer Nouveau" */
  button.mat-button {
    background-color: #64a6bd;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }
  
  button.mat-button:hover {
    background-color: #64a6bd;
  }
  
  /* Style du menu déroulant */
  mat-menu {
    background-color: #ffffff;
    border-radius: 5px;
  }
  
  mat-menu button {
    font-size: 14px;
    color: #333;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
  }
  
  mat-menu button:hover {
    background-color: #e8f5e9;
  }
  
  /* Style des tables */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  table th, table td {
    text-align: left;
    padding: 12px;
    font-size: 14px;
  }
  
  table th {
    background-color: #6c757d;
    color: white;
    font-weight: bold;
  }
  
  table td {
    background-color: #f9f9f9;
  }
  
  table tr:hover td {
    background-color: #f1f1f1;
  }
  
  mat-icon {
    margin-right: 8px;
    color: #64a6bd;
  }
  
  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  button:hover mat-icon {
    color: #f44336;
  }
  
  /* Style pour les entêtes */
  h3 {
    color: #333;
    font-size: 20px;
    font-weight: 600;
    margin-top: 30px;
  }
  
  /* Style de l'icône */
  mat-icon {
    font-size: 20px;
  }
  
  /* Ajout de marges pour les différentes sections */
  br {
    margin-top: 40px;
  }
  