<div fxLayout="row" fxLayoutAlign="end center">
  <button routerLink="/create">Create New</button>
</div>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> id </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="cin">
    <th mat-header-cell *matHeaderCellDef> cin </th>
    <td mat-cell *matCellDef="let element"> {{element.cin}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="prenom">
    <th mat-header-cell *matHeaderCellDef> prenom </th>
    <td mat-cell *matCellDef="let element"> {{element.prenom}} </td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> email </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> date </th>
    <td mat-cell *matCellDef="let element"> {{element.date | date:'mediumDate'}} </td>
  </ng-container>

  <ng-container matColumnDef="photo">
    <th mat-header-cell *matHeaderCellDef> photo </th>
    <td mat-cell *matCellDef="let element">
      <img [src]="'assets/photos/' + element.photo" alt="Photo" height="50">
    </td>
  </ng-container>

  <ng-container matColumnDef="cv">
    <th mat-header-cell *matHeaderCellDef> cv </th>
    <td mat-cell *matCellDef="let element">
      <a [href]="'assets/cv-files/' + element.cv" target="_blank">
        <mat-icon aria-hidden="false" aria-label="View CV icon" fontIcon="picture_as_pdf">{{element.cv}}</mat-icon>
      </a>
    </td>
  </ng-container>

  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef> type </th>
    <td mat-cell *matCellDef="let element"> {{element.type}} </td>
  </ng-container>

  <ng-container matColumnDef="createdDate">
    <th mat-header-cell *matHeaderCellDef> createdDate </th>
    <td mat-cell *matCellDef="let element"> {{element.createdDate | date:'medium'}} </td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef> delete </th>
    <td mat-cell *matCellDef="let element">
      <button (click)="delete(element.id)">
        <mat-icon aria-hidden="false" aria-label="Delete icon">delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef> edit </th>
    <td mat-cell *matCellDef="let element">
      <button routerLink="/{{element.id}}/edit">
        <mat-icon aria-hidden="false" aria-label="Edit icon">edit</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
