<br>
<form [formGroup]="form" (ngSubmit)="sub()">
 
  <input  hidden="true"  matInput class="form-control" formControlName="yourfieldname">



  <p>
 
    <mat-form-field appearance="fill">
      <input matInput placeholder="type" formControlName="type">
    </mat-form-field>
  </p>

  <p>
    <mat-form-field appearance="fill">
      <input matInput placeholder="titre" formControlName="titre">
    </mat-form-field>
  </p>


  <p>
    <mat-form-field appearance="fill">
      <input matInput placeholder="link"   formControlName="link">
    </mat-form-field>
  </p>


  <p>
    <mat-form-field appearance="fill">
      <input matInput placeholder="Sourcepdf"  formControlName="Sourcepdf">
    </mat-form-field>
  </p>


<button type="submit"> submit </button>


</form>  