
<br>
<br>
<button class="buttonCreate" routerLink="/tools/new" mat-raised-button color="primary">Creation</button>

<br>
<br>
<br>
<h3>Liste des outils</h3>
<table mat-table [dataSource]="outils" class="mat-elevation-z8">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="source">
    <th mat-header-cell *matHeaderCellDef> Source </th>
    <td mat-cell *matCellDef="let element"> {{element.source}} </td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> Date </th>
    <td mat-cell *matCellDef="let element"> {{element.date | date: 'medium'}} </td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let element">
        <button [routerLink]="['/tools/edit', element.id]" mat-button color="primary" aria-label="Edit Tool">
            <mat-icon>edit</mat-icon>
        </button>
        <button (click)="delete(element.id)" mat-button color="warn" aria-label="Delete Tool">
            <mat-icon>delete</mat-icon>
        </button>
    </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
