<mat-sidenav-container>
  <!-- Always render the sidenav, but control its visibility -->
  <mat-sidenav
    #drawer
    fixedInViewport="true"
    mode="over"
    [opened]="false"
    [hidden]="!isNavbarVisible"
    style="width: 230px"
  >
    <mat-toolbar color="primary" fxLayout fxLayoutGap="16px">
      <mat-icon>school</mat-icon>
      <span> Laboratoire </span>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard">
        <mat-icon>dashboard</mat-icon><span> Dashboard</span>
      </a>
      <a mat-list-item routerLink="/members">
        <mat-icon>supervised_user_circle</mat-icon><span> Members</span>
      </a>
      <a mat-list-item routerLink="/tools">
        <mat-icon>settings</mat-icon><span> Tools</span>
      </a>
      <a mat-list-item routerLink="/articles">
        <mat-icon>gradient</mat-icon><span> Articales</span>
      </a>
      <a mat-list-item routerLink="/events">
        <mat-icon>event_note</mat-icon><span> Events</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <!-- Conditionally render the toolbar -->
    <mat-toolbar color="primary" *ngIf="isNavbarVisible">
      <div fxFlex fxLayout fxLayoutAlign="start center">
        <button
          type="button"
          aria-label="Toggle sidenav"
          class="toolbar-button"
          mat-icon-button
          (click)="toggleSidenav()"
        >
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon><span> Lab</span>
        </button>
      </div>
      <div fxFlex></div>
      <div class="toolbar-separator"></div>
      <button
        [matMenuTriggerFor]="userMenu"
        class="toolbar-button"
        mat-button
        style="margin-left: 85%; margin-right: 5%"
      >
        <div fxLayout="row" fxLayoutAlign="center center" *ngIf="!!user">
          <img
            class="avatar mr-0 mr-sm-16"
            [src]="user.photoURL"
            style="border-radius: 50px; width: 40px; height: 40px"
          />
          <span class="username mx-12" fxHide fxShow.gt-sm>{{ user.displayName }}</span>
          <mat-icon class="s-16" fxHide.xs>keyboard_arrow_down</mat-icon>
        </div>
      </button>
      <mat-menu #userMenu="matMenu" [overlapTrigger]="false">
        <button mat-menu-item>
          <mat-icon>account_box</mat-icon>
          <span>Profile</span>
        </button>
        <button mat-menu-item (click)="tryLogout()">
          <mat-icon>exit_to_app</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </mat-toolbar>

    <!-- Content Section -->
    <div [class.mt-80]="isNavbarVisible" [class.mx-16]="isNavbarVisible">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
