<div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="20px">
  <mat-card class="custom-card rosybrown-card">
    <mat-card-title>Members</mat-card-title>
    <mat-card-subtitle>{{NB_members}}</mat-card-subtitle>
  </mat-card>

  <mat-card class="custom-card aqua-card">
    <mat-card-title>Tools</mat-card-title>
    <mat-card-subtitle>{{NB_tools}}</mat-card-subtitle>
  </mat-card>

  <mat-card class="custom-card bisque-card">
    <mat-card-title>Events</mat-card-title>
    <mat-card-subtitle>{{NB_events}}</mat-card-subtitle>
  </mat-card>

  <mat-card class="custom-card burlywood-card">
    <mat-card-title>Articles</mat-card-title>
    <mat-card-subtitle>{{NB_articles}}</mat-card-subtitle>
  </mat-card>
</div>

<div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="20px" style="margin-top: 20px;">
  <div class="chart-wrapper" fxFlex="43">
    <canvas baseChart
            [type]="'line'"
            [datasets]="chartData"
            [labels]="chartLabels"
            [options]="chartOptions">
    </canvas>
  </div>

  <div class="chart-wrapper" fxFlex="43">
    <canvas baseChart
            [type]="'pie'"
            [datasets]="chartData"
            [labels]="chartLabels"
            [options]="chartOptions">
    </canvas>
  </div>
</div>
