<mat-dialog-content [formGroup]="form">

  <input  hidden="true"  matInput class="form-control" formControlName="yourfieldname">

  <p>
      <mat-form-field appearance="fill">
          <input matInput placeholder="titre" formControlName="titre">
      </mat-form-field>
  </p>

  <mat-form-field appearance="fill">
      <mat-label>Select a date</mat-label>
      <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="date">
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

  <p>
      <mat-form-field appearance="fill">
          <input matInput placeholder="lieu" formControlName="lieu">
      </mat-form-field>
  </p>

  <!-- <button type="submit" >Submit</button> -->
  <mat-dialog-actions>
      <button class="mat-raised-button mat-primary"(click)="save()">Save</button>
      <button class="mat-raised-button"(click)="close()">Close</button>
      
  </mat-dialog-actions>

</mat-dialog-content>