<form [formGroup]="form" (ngSubmit)="sub()" fxLayout="row wrap" fxLayoutGap="16px" class="form-container">
  <mat-form-field appearance="fill" class="field" [ngClass]="{'cin-edit': currentId !== null}">
    <input matInput placeholder="CIN" formControlName="cin" [readonly]="currentId !== null">
  </mat-form-field>

  <mat-form-field appearance="fill" class="field">
    <input matInput placeholder="Nom" formControlName="nom">
  </mat-form-field>

  <mat-form-field appearance="fill" class="field">
    <input matInput placeholder="Prénom" formControlName="prenom">
  </mat-form-field>

  <mat-form-field appearance="fill" class="field">
    <input matInput [matDatepicker]="picker" placeholder="Date de naissance" formControlName="dateNaissance">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <div class="field">
    <!-- File Selector -->
    <label for="file-upload">CV :</label>
    <input
      type="file"
      id="file-upload"
      (change)="onFileSelected($event)"
      placeholder="Select CV"
    />
    <small>{{ selectedFileName }}</small>
  </div>

  <mat-form-field appearance="fill" class="field">
    <input matInput placeholder="Email" formControlName="email">
  </mat-form-field>

  <mat-form-field appearance="fill" class="field">
    <input matInput placeholder="Grade" formControlName="grade">
  </mat-form-field>

  <mat-form-field appearance="fill" class="field">
    <input matInput placeholder="Établissement" formControlName="etablissement">
  </mat-form-field>

  <div fxFlex="100" fxLayoutAlign="center">
    <button mat-raised-button color="primary" type="submit">Submit</button>
  </div>
</form>
